{% extends "base.html" %}
{% block content %}

<form action="/gym_classes/{{gym_class.id}}" method="post">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{gym_class.title}}" required>
    </div>
    <div>
        <label for="title">Class Datetime:</label>
        <input type="text" id="class_datetime" name="class_datetime" value="{{gym_class.class_datetime}}" required>
    </div>
    <div>
        <label for="capacity">Capacity:</label>
        <input type="text" id="capacity" name="capacity" value="{{gym_class.capacity}}" required>
    </div>
    <button type="submit">Update Gym Class</button>
</form>

{% endblock %}