{% extends 'base.html' %}

{% block content %}
<h1>Classes</h1>
<h2><a href="/gym_classes/upcoming">Upcoming classes</a></h2>
<a href="/gym_classes/new">Add New Gym Class</a>

<table>
    <tr>
        <th>Title</th>
        <th>Class Datetime</th>
        <th>Capacity</th>
    </tr>
    {% for gym_class in gym_classes %}
    <tr>
        <td><a href="/gym_classes/{{gym_class.id}}">{{gym_class.title}}</a></td>
        <td>{{gym_class.class_datetime}}</td>
        <td>{{gym_class.capacity}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}