{% extends 'base.html' %}
{% block content %}

<form action="/gym_classes" method="post">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" placeholder="Title" required autofocus>
    </div>
    <div>
        <label for="class_datetime">Class Datetime:</label>
        <input type="text" id="class_datetime" name="class_datetime" placeholder="Class Datetime" required autofocus>
    </div>
    <div>
        <label for="capacity">Capacity:</label>
        <input type="text" id="text" name="capacity" placeholder="Capacity" required autofocus>
    </div>
    <button type="submit">Add new class</button>

</form>
{% endblock %}