{% extends 'base.html' %}
{% block content %}

<form action="/bookings" method="post">
    <div>
        <label for="member_id">Member:</label>
        <select id="member_id" name="member_id" required autofocus>
            {% for member in members %}
                <option value="{{ member.id }}">{{ member.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="gym_class_id">Gym class:</label>
        <select id="gym_class_id" name="gym_class_id" required autofocus>
            {% for gym_class in gym_classes %}
                <option value="{{gym_class.id}}">{{gym_class.title}}</option>
                {% endfor %}
        </select>
    </div>
    <button type="submit">Add new booking</button>

</form>
{% endblock %}