<!DOCTYPE html>
<html>
<head>
    <title>Gym</title>    
</head>
<body>
    <main>
        <nav>
            <ul>
                <li>
                    <a href="/gym_classes">Gym Classes</a>
                </li>
                <li>
                    <a href="/members">Members</a>
                </li>
                <li>
                    <a href="/bookings">Bookings</a>
                </li>
            </ul>
        </nav>
        <section id="content">
            {% block content %}

            {% endblock %}
        </section>
    </main>
    
</body>
</html>